<!-- <p>Parent component</p>
<app-child [inputName]="name"
(sendData)="receiveData($event)"></app-child>
two-way data binding -->
<!-- <input type="text" [(ngModel)]="inputValue" placeholder="Enter something" />

<button (click)="onSubmit()">Submit</button> -->


  <!-- Toggle -->
  <button (click)="isSignup = false">Sign In</button>
  <button (click)="isSignup = true">Sign Up</button>
<app-child
  [isSignup]="isSignup"
  (formSubmit)="handleForm($event)">
</app-child>
<p> Email :{{formData?.email}}</p>
<p> Password :{{formData?.password}}</p>

 