<!-- <p>Parent component</p>
<app-child [inputName]="name"
(sendData)="receiveData($event)"></app-child>
two-way data binding -->
<!-- <input type="text" [(ngModel)]="inputValue" placeholder="Enter something" />

<button (click)="onSubmit()">Submit</button> -->


<!-- Toggle -->
<!-- <button (click)="isSignup = false">Sign In</button>
<button (click)="isSignup = true">Sign Up</button>

<app-child [isSignup]="isSignup" (formSubmit)="handleForm($event)" [Sum]="sumresult"></app-child>

<p> Email :{{formData?.email}}</p>
<p> Password :{{formData?.password}}</p>
<input type="text" [(ngModel)]="inputOne" id="inputOne" placeholder="Enter input one  result">
<input type="text" [(ngModel)]="inputTwo" id="inputTwo" placeholder="Enter input two  result">
<button (click)="calculateSum()">Calculate Sum</button>
<input type = "text" [(ngModel)]="message" placeholder ="enter message">


<app-child-2 [inputMessage]="message"></app-child-2> -->

<h2>Product List</h2>
<!-- {{ products.length }} -->
<div *ngIf="products && products.length > 0; else loading">
<table class="product-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Received Date</th>
      <th>Status</th>
      <th>Batch</th>
      <th>Manufacture</th>
      <th>Expiry</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>Updated By</th>
      <th>Updated On</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productID }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.productCategory }}</td>
      <td>{{ product.recievedDate | date:'shortDate' }}</td>
      <td>{{ product.productStatus }}</td>
      <td>{{ product.batchNumber }}</td>
      <td>{{ product.manufactureDate | date:'shortDate' }}</td>
      <td>{{ product.expiryDate | date:'shortDate' }}</td>
      <td>{{ product.createdBy }}</td>
      <td>{{ product.createdOn | date:'short' }}</td>
      <td>{{ product.updatedBy }}</td>
      <td>{{ product.updatedOn | date:'short' }}</td>
    </tr>
  </tbody>
</table>
</div>
<ng-template #loading>
  <!-- <p>Loading products...</p> -->
</ng-template>
<!-- <p>Product form</p> -->
<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">

  <!-- Product Name -->
  <div>
    <label>Product Name *</label>
    <input 
      type="text" 
      name="productName" 
      [(ngModel)]="product.productName" 
      required 
      #productName="ngModel"
    />
    <small *ngIf="productName.invalid && productName.touched" style="color:red;">
      Product Name is required
    </small>
  </div>

  <!-- Category -->
  <div>
    <label>Category</label>
    <input type="text" name="productCategory" [(ngModel)]="product.productCategory" />
  </div>

  <!-- Received Date -->
  <div>
    <label>Received Date</label>
    <input type="date" name="recievedDate" [(ngModel)]="product.recievedDate" />
  </div>

  <!-- Status -->
  <div>
    <label>Status</label>
    <select name="productStatus" [(ngModel)]="product.productStatus">
      <option value="">Select</option>
      <option value="Active">Available</option>
      <option value="OutOfStock">Out Of Stock</option>
      <option value="Expired">Expired</option>
    </select>
  </div>

  <!-- Batch Number -->
  <div>
    <label>Batch Number</label>
    <input type="text" name="batchNumber" [(ngModel)]="product.batchNumber" />
  </div>

  <!-- Manufacture Date -->
  <div>
    <label>Manufacture Date</label>
    <input type="date" name="manufactureDate" [(ngModel)]="product.manufactureDate" />
  </div>

  <!-- Expiry Date -->
  <div>
    <label>Expiry Date</label>
    <input type="date" name="expiryDate" [(ngModel)]="product.expiryDate" />
  </div>

  <!-- Created By -->
  <div>
    <label>Created By</label>
    <input type="number" name="createdBy" [(ngModel)]="product.createdBy" />
  </div>

  <!-- Created On -->
  <div>
    <label>Created On</label>
    <input type="date" name="createdOn" [(ngModel)]="product.createdOn" />
  </div>

  <!-- Updated By -->
  <div>
    <label>Updated By</label>
    <input type="number" name="updatedBy" [(ngModel)]="product.updatedBy" />
  </div>

  <!-- Updated On -->
  <div>
    <label>Updated On</label>
    <input type="date" name="updatedOn" [(ngModel)]="product.updatedOn" />
  </div>

  <!-- Submit -->
  <button type="submit" [disabled]="productForm.invalid">
    Save Product
  </button>

</form>

<!-- Success / Error Messages -->
<p *ngIf="successMessage" style="color:green;">
  {{ successMessage }}
</p>

<p *ngIf="errorMessage" style="color:red;">
  {{ errorMessage }}
</p>